
/* ANIMATE EVERYTHING :3 */
* {
	-webkit-transition: all .5s cubic-bezier(.2,.3,0,1);
	transition: all .5s cubic-bezier(.2,.3,0,1);
}

/* REMOVE THE FOCUS OUTLINE :3 */
*:focus {
	outline: 0;
}

body {
	font-family: open-sans, sans-serif;
	overflow-x: hidden;
}

/* HEADER STUFF */
#header {
	background: #ff5a5a;
	position: fixed;
	height: 4em;
	min-width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	color: #fff;
}
#header #title {
	font-size: 2em;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* CONTENT STUFF */
#content {
	padding: 0px 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 4em;
}

#content .title {
	display: block;
	font-size: 1.3em;
}

#content .center {
	text-align: center;
}

#content .background {
	overflow: hidden;
	position: relative;
}
#content .background span {
	color: #fff;
	padding: 30px 0px;
	display: block;
}
#content .background .bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: -1;
	transition: top 0s;
}

/* FOOTER STUFF */
#footer {
	position: absolute;
	margin-top: 10px;
	min-height: 10px;
	min-width: 100%;
	left: -10px;
	right: -10px;
	background: #fff;
	padding: 10px 0px;
	z-index: 99;
	text-align: center;
}
#footer.fixed {
	position: fixed;
	bottom: 0;
}